<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.iutlens.mmi.buildthefrance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone_lancement"
        android:label="Build the France"
        android:roundIcon="@mipmap/icone_lancement"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="fr.iutlens.mmi.buildthefrance.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="fr.iutlens.mmi.buildthefrance.AccueilActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.iutlens.mmi.buildthefrance.PerduActivity"
            android:screenOrientation="portrait" />
        <activity android:name="fr.iutlens.mmi.buildthefrance.InstructionsActivity"></activity>
    </application>

</manifest>